<div>
  <p>Select a device type and status:</p>
  <%= form_tag devices_per_day_path, method: :get do %>
    <select name="device_type">
      <option selected disabled hidden>Device type</option>
      <% @device_types.each do |device_type| %>
        <option value="<%= device_type %>"><%= device_type %></option>
      <% end %>
    </select>
    <select name="device_status">
      <option selected disabled hidden>Select a device status</option>
      <% @statuses.each do |status| %>
        <option value="<%= status %>"><%= status %></option>
      <% end %>
    </select>
</div>
  <br>
  <p>Select a starting date:</p>
  <%= select_date()%>
  <br><br>
<%= submit_tag("Search", class: "btn btn-primary") %>
<% end %>
