<% if @most_popular.present? %>
  <h2>Most popular devices on <%= "#{@date.strftime("%b %d, %Y")}" %></h2>
  <table style="width: 100%">
    <tr>
      <th>Device ID</th>
      <th>Occurences</th>
      <th>Occurences on <%= "#{(@date - 7.days).strftime("%b %d, %Y")}"%></th>
      <th>Delta occurences (%)</th>
    </tr>
    <% @most_popular.each do |device_id, popularity| %>
      <% device = Device.find(device_id) %>
      <tr>
        <td><%= device.raw_id %></td>
        <td><%= device.popularity(@date) %></td>
        <td><%= device.popularity(@date - 7.days) %></td>

        <td><%= device.delta_popularity(@date - 7.days, @date)%></td>
      </tr>
    <% end %>
<% else %>
  <p><%= "No occurences on #{@date.strftime("%b %d, %Y")}" %> </p>
<% end %>


